/expense-tacker/node_modules
/food-app/node_modules
/myFirstApp/node_modules
native-features/node_modules
/number-guessing-game/node_modules
/other-navigations/node_modules
/rn-authentication/node_modules
todo-app/node_modules